.promo {
  width: 100%;
  min-height: 466px;
  background-color: $main-color;
  background-image: url("../img/promo_bg_mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    background-image: url("../img/promo_bg_tablet.jpg");
    margin-top: -60px;
    min-height: 1024px;
  }
}

.promo__arrow {
  display: block;
  width: 14px;
  height: 21px;
  background-image: url("../img/promo_arrow_mobile.svg");
  margin-left: auto;
  margin-right: auto;
}

.promo__wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}

.promo__header {
  font-family: "Playfair Display", "Aerial", sans-serif;
  font-size: 30px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  margin-top: 103px;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    font-family: "Forum", "Aerial", sans-serif;
    font-size: 70px;
    line-height: 77px;
    margin-top: 331px;
    margin-bottom: 82px;
  }
}

.promo__link {
  padding: 17px 27px;
  color: white;
  font-size: 12px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  text-align: center;
  background: rgba(0, 0, 0, 0.4);
  border: 1px solid white;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 70px;

  @media (min-width: $tablet-width) {
    margin-bottom: 211px;
  }
}

.promo__social {
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 35px;
  }
}