.sales {
  background-color: $main-color;
  padding: 100px 0;

  @media (min-width: $desktop-width) {
    padding-top: 170px;
  }
}

.sales__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0 220px;
  }

  & picture {
    margin-left: auto;
  }
}

.sales__img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    width: 453px;
    height: 323px;
  }

  @media (min-width: $desktop-width) {
    width: 697px;
    height: 410px;
  }
}

.sales__info {
  @media (min-width: $desktop-width) {
    order: -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.sales__header {
  font-size: 20px;
  line-height: 34px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  padding-right: 15px;
  margin-bottom: 40px;
  position: relative;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 51px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    width: 220px;
    text-align: left;
  }

  &::before {
    content: "";
    width: 85px;
    height: 2px;
    background-color: white;
    position: absolute;
    left: 0;
    bottom: -20px;

    @media (min-width: $tablet-width) {
      left: 50%;
      transform: translate(-50%);
    }

    @media (min-width: $desktop-width) {
      left: 0;
      transform: translate(0);
    }
  }
}

.sales__text {
  font-size: 14px;
  line-height: 24px;
  padding-right: 20px;
  margin-bottom: 40px;
  max-width: 453px;

  @media (min-width: $tablet-width) {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    width: 352px;
    margin-left: 0;
    margin-bottom: 45px;
    text-align: left;
  }
}

.sales__btn {
  width: 220px;
  height: 50px;
  border: none;
  background: #010001;

  font-size: 12px;
  line-height: 13px;
  text-align: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: white;

  @media (min-width: $tablet-width) {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
  }

  &:hover {
    background: white;
    color: black;
    cursor: pointer;
  }
}
