/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
  margin-bottom: 20px;
}

/* Лента слайдов */
.slick-track {
  display: flex;
}

/* Слайд */
.slick-slide {
  outline: none;

  @media (min-width: $tablet-width) {
    max-width: 330px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Точки (булиты) */
.slick-dots {
  list-style: none;
  display: flex;
  justify-content: space-between;
  max-width: 288px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $tablet-width) {
    max-width: 138px;
  }
}

.slick-dots li {
  margin-right: 12px;

  &:last-child {
    margin-right: 0;
  }
}

/* Активная точка */
.slick-dots li.slick-active {
  background-color: rgba(255, 255, 255, 1);
}

/* Элемент точки */
.slick-dots li button {
  font-size: 0;
  display: block;
  border-radius: 2px;
  border: none;
  width: 55px;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.3);
}

.slider {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: center;
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }
}

.slider__elem {
  position: relative;

  @media (min-width: $tablet-width) {
    width: 47.96%;
    height: auto;
  }

  @media (min-width: $desktop-width) {
    margin-right: 60px;
    overflow: hidden;

    width: 350px;
    height: 470px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &:last-child {
    @media (min-width: $desktop-width) {
      margin-right: 0;
    }
  }

  &:hover {
    @media (min-width: $desktop-width) {
      border: 1px solid rgba(255, 255, 255, 0.2);
      cursor: pointer;
    }
  }

  &:hover .slider__link {
    @media (min-width: $desktop-width) {
      bottom: 20px;
    }
  }

  &:hover .slider__num {
    @media (min-width: $desktop-width) {
      top: 32px;
      left: 109px;
    }
  }

  &:hover .slider__text {
    @media (min-width: $desktop-width) {
      bottom: 95px;
    }
  }

  &:hover .slider__img {
    @media (min-width: $desktop-width) {
      opacity: 0.6;
    }
  }
}

.slider__wrapper {
  @media (min-width: $desktop-width) {
    height: 450px;
    background-color: black;
  }
}

.slider__img {
  width: 100%;
  height: auto;

  @media (min-width: $tablet-width) {
    width: auto;
  }
}

.slider__num {
  font-size: 20px;
  line-height: 22px;
  position: absolute;
  top: 23px;
  left: 100px;

  @media (min-width: $desktop-width) {
    top: 33px;
    left: 110px;
  }

  &:before {
    content: '';
    width: 70px;
    height: 1px;
    background-color: white;
    position: absolute;
    top: 10px;
    left: -80px;
  }
}

.slider__text {
  position: absolute;
  left: 20px;
  bottom: 15px;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0.1em;
  transition: 0.4s all linear;

  @media (min-width: $desktop-width) {
    left: 30px;
    bottom: 25px;
  }
}

.slider__link {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    width: 200px;
    height: 50px;
    background-color: white;
    color: black;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 0.15em;
    text-align: center;
    padding: 19px 0;
    position: absolute;
    left: 20px;
    bottom: -55px;
    transition: 0.4s all linear;
  }
}
