.social {
  display: flex;
  justify-content: center;
}

.social__btn {
  display: flex;
  width: 35px;
  height: 35px;
  background-color: $main-color;
  border-radius: 50%;
  margin-right: 40px;

  @media (min-width: $tablet-width) {
    width: 55px;
    height: 55px;
  }

  @media (min-width: $desktop-width) {
    width: 50px;
    height: 50px;
    background-color: transparent;
  }

  &:hover .fill-hover {
    fill: black;
  }

  &:hover .stroke-hover {
    stroke: black;
  }

  & svg {
    width: 18px;
    height: 18px;
    margin: auto;

    @media (min-width: $tablet-width) {
      width: 28px;
      height: 28px;
    }

    @media (min-width: $desktop-width) {
      width: 25px;
      height: 25px;
    }
  }

  &:last-child {
    margin-right: 0;
  }
}