@font-face {
  font-family: "Forum";
  src: url("../fonts/Forum-Regular.woff2") format("woff2"),
       url("../fonts/Forum-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/PlayfairDisplay.woff2") format("woff2"),
       url("../fonts/PlayfairDisplay.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}