body {
  font-family: "Forum", "Aerial", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  box-sizing: border-box;
  color: white;
}

*, *::before, *::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

button, 
button:active, 
button:focus {
    outline: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;

  @media (min-width: $tablet-width) {
    padding-right: 40px;
    padding-left: 40px;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .6);
  width: 100%;
  height: 100vh;
  z-index: 50;
}

.scroll-hidden {
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}